// Reset Default CSS

* {
    margin: 0;
    padding: 0;

    box-sizing: border-box;

    text-decoration: none;
}

// Router Animation

.fade-enter-active, .fade-leave-active {
    transition: opacity .5s;
}

.fade-enter, .fade-leave-to {
    opacity: 0;
}